html, body { padding: 0; margin: 0; font-family: sans-serif }
body { padding: 1rem }
h1 { margin-top: 0; font-weight: 400; color: #036; font-size: 1.6rem }
h2 { font-weight: 400; margin-top: 0; margin-bottom: 0.5rem; font-size: 1.2rem }
h3 { font-weight: normal; margin-top: 0; margin-bottom: 0.5rem; font-size: 1rem }
h1, 
h2, 
h3 { color: #036 }
p, 
form, 
table { margin-bottom: 2rem }
label { color: #369 }
a, input, select, textarea, button { outline: 0 }
input[type="submit"] { position: absolute; left: -10000px; top: -10000px; z-index: 100000 }

/* pure overrides */
.pure-form-aligned .pure-control-group label { width: 11rem; margin-right: 1rem }
.pure-form-aligned .pure-controls { margin: 1.5rem 0 0 0 }
@media (min-width: 480px) {
  .pure-form-aligned .pure-controls { margin: 1.5rem 0 0 12rem }
}
.pure-table { width: 100%; border: none }
.pure-table th { border: none; font-size: 0.8rem; text-transform: uppercase; color: rgba(00, 33, 66, 0.75); padding: 1rem }
.pure-table tr th:first-of-type { border-top-left-radius: 0.25rem }
.pure-table tr th:last-of-type { border-top-right-radius: 0.25rem }
.pure-table td { border: none; font-family: monospace; font-size: 1rem; color: #666; padding: 1rem }
.pure-table tr:last-of-type td { border-bottom: none }
.pure-table-striped tr:nth-child(2n-1) td { background-color: #EFEFEF }
.pure-table-stacked { width: auto; max-width: 80rem }
.pure-table-stacked th,
.pure-table-stacked td { text-align: left; min-width: 40rem }
.pure-table-stacked th { color: #777; width: 20%; min-width: 16rem }
.pure-table-stacked tr:last-of-type td,
.pure-table-stacked tr:last-of-type th { border-bottom: none } 
.spaced-buttons .pure-button { margin: 0 1rem 1rem 0 }
.pure-control-group { margin-bottom: 1rem}
.pure-control-group label { text-transform: uppercase; font-size: 0.8rem; color: #666 }
.pure-control-group textarea,
.pure-control-group input[type="text"],
.pure-control-group input[type="password"],
.pure-control-group input[type="email"],
.pure-control-group input[type="number"] { border: 1px solid #ccc; box-shadow: inset 0 0 3px #ccc; background-color: #EEE; border-radius: 0; color: #333; font-size: 0.9rem }
.pure-control-group input:focus { border-color: #0078e7; box-shadow: inset 0 0 3px #FFF }
.pure-checkbox input { margin-right: 0.5rem }
.pure-checkbox label { font-size: 0.8rem; color: #333;  text-transform: none; font-size: 1rem }
.pure-button { border-radius: 0.2rem; background-image: linear-gradient(rgba(255,255,255,0.25), rgba(255, 255,255, 0) 100%, rgba(0, 0, 0, .1)) }
.pure-button:active { color: rgba(33,33,33,0.75)}
.pure-button:focus { background-color: #036; color: rgba(255,255,255,0.5)}
.pure-button-primary:active { color: rgba(255,255,255,0.75) }

/* alerts */
.message { font-weight: bold; font-size: 0.9rem; margin-bottom: 1rem }
.success.message { color: #060 }
.template.message { color: #900 }
.info.message { color: #666 }

/* entry forms for signing in, registration */
.entry-form { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 20rem; padding: 1rem; text-align: center; box-shadow: 0 0 2rem #CCC }
.entry-form h1 { font-size: 1.2rem }
.entry-form ul { margin: 1rem 0 0 0 }
.entry-form li { margin-top: 0.5rem }
.entry-form a { color: #369; text-decoration: none }
.entry-form fieldset { text-align: left }
.entry-form input[type="text"], 
.entry-form input[type="password"],
.entry-form input[type="email"]{ width: 100%; border-color: #EEE; box-shadow: none; border-radius: 0 }

/* important dates and stats */
.important-items { list-style-type: none; margin: 1rem 0; padding: 0 }
.important-items li { list-style-type: none; display: inline-block; font-size: 1.2rem; 
  border-right: 1px dotted #666; padding-right: 1rem; padding: 0 1rem }
.important-items li span { line-height: 2rem; display: block; font-size: 0.8rem; color: #666 }
.important-items li:first-of-type { padding-left: 0 }
.important-items li:last-of-type { border-right: none; padding-right: 0 }

/* pagination */
.pagination { list-style-type: none; margin: 1rem 0; padding: 0 }
.pagination li { display: inline-block; margin: 0.25rem 0.25rem 0 }
.pagination a { border: 1px solid #CCC; display: inline-block; background-color: #EEE; padding: 0.25rem 0.5rem; font-size: 0.9rem; color: #999; text-decoration: none }
.pagination a:hover { background-color: #666; color: #CCC }
.pagination a.current-page { background-color: #FFF; color: #666 } 