<a href="/home">Home</a>
<span>/</span>
<a href="/account">My account</a>
<span>/</span>
<a href="/account/reset-codes">Reset codes</a>
<span>/</span>
<a href="/account/reset-code?codeid=${resetCode.codeid}">View ${resetCode.codeid}</a>
<a href="/account/delete-reset-code?codeid=${resetCode.codeid}">Delete code</a>

