<a href="/home">Home</a>
<span>/</span>
<a href="/account">My account</a>
<span>/</span>
<a href="/account/profiles">Profiles</a>
<a href="/account/reset-codes">Reset codes</a>
<a href="/account/sessions">Sessions</a>