<a href="/home">Home</a>
<span>/</span>
<a href="/account">My account</a>
<span>/</span>
<a href="/account/end-all-sessions">End all sessions</a>
<a href="/account/change-username">Change username</a>
<a href="/account/change-password">Change password</a>
<a href="/account/delete-account">Delete account</a>