<a href="/home">Home</a>
<span>/</span>
<a href="/account">My account</a>
<span>/</span>
<a href="/account/profiles">Profiles</a>
<span>/</span>
<a href="/account/profile?profileid=${profile.profileid}">View ${profile.profileid}</a>
<a href="/account/set-default-profile?profileid=${profile.profileid}">Make default</a>
<a href="/account/edit-profile?profileid=${profile.profileid}">Edit profile</a>
<a href="/account/delete-profile?profileid=${profile.profileid}">Delete profile</a>

