<a href="/home">Home</a>
<a href="/administrator">Administration</a>
<a href="/administrator/account?accountid=${account.accountid}">View account</a>
<a href="/administrator/account-profiles?accountid=${account.accountid}">Profiles</a>
<a href="/administrator/account-reset-codes?accountid=${account.accountid}">Reset codes</a>
<a href="/administrator/account-sessions?accountid=${account.accountid}">Sessions</a>
