<a href="/home">Home</a>
<span>/</span>
<a href="/administrator">Dashboard administration</a>
<span>/</span>
<a href="/administrator/account?accountid=${resetCode.accountid}">Account</a>
<span>/</span>
<a href="/administrator/session?codeid=${resetCode.codeid}">View ${resetCode.codeid}</a>
