<a href="/home">Home</a>
<span>/</span>
<a href="/administrator">Dashboard administration</a>
<span>/</span>
<a href="/administrator/account?accountid=${account.accountid}">View ${account.accountid}</a>
<span>/</span>
<a href="/administrator/impersonate-account?accountid=${account.accountid}">Impersonate account</a>
<a href="/administrator/assign-administrator?accountid=${account.accountid}">Make administrator</a>
<a href="/administrator/revoke-administrator?accountid=${account.accountid}">Revoke administrator</a>
<a href="/administrator/transfer-ownership?accountid=${account.accountid}">Transfer ownership</a>
<a href="/administrator/schedule-account-delete?accountid=${account.accountid}">Schedule account deletion</a>
<a href="/administrator/delete-account?accountid=${account.accountid}">Delete account</a>
